* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.riga{
    width: 80vw;
    margin: auto;
    text-align: center;
}

.container{
    height: 769px;
    padding: 13px 10px 16px 10px; 
    display: inline-block;
    text-align: left;
}


.cuore{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.rettangolo{
    width: 152px;
    height: 44px;
    color: white;
    padding-top: 10px;
    position: absolute;
    bottom: 16px;
    font-size: 12px;
}

.sconto{
    width: 36.4px;
    height: 25px;
    background-color: red;
    padding: 4px 6px;
}

.sostenibilità{
    width: 84px;
    height: 25px;
    background-color: green;
    padding: 4px 5px;
}

.immagine{
    position: relative;
}

.img1, .img1b{
    width: 448px;
    height: 669px;
}

.img1b{
    display: none;
}

.immagine:hover .img1{
    display: none;
}

.immagine:hover .img1b{
    display: initial;
}

.testo{
    width: 448px;
    height: 63px;
    margin-top: 8px;
}

.testo span:nth-child(3){
    color: red;
}

.testo span:nth-child(4){
    text-decoration: line-through;
}

